h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 90px;

}
h4{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
h3{
    text-align: left;
    padding-left: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;

    
}
.columnRight-container{
    margin-left: 40px;
}
#elementStyle{
    border-style: solid;
    border-color: black;
    font-size: 32px;
    padding: 15px;
    text-align: center;
    width: 60px;
    height: 60px;
    
}
.Subtitle{
    text-align: center
}
.PeriodicTable{
    text-align: center;
    padding: 50px;
    display: inline;
}
.elementName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    
}
#keyStyle{
    border-style: solid;
    border-color: black;
    font-size: 148px;
    padding: 15px;
    
    width: 320px;
    height: 240px;
    
}
.bottom-container{
    display: flex;
}
.column{
    flex: 1;
}
.row-container{
    display: flex;
    flex-wrap: wrap;
    
}

.row{
    display: flex;
}
.guide-row{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 220px;
    height: 50px;
    border-width: 1px;
    border-color: transparent;
}
.guide-row:hover{
    background-color: yellowgreen;
    border-style: dashed;
    border-width: 1px;
    border-color: black;

}
.null{
    padding: 40px;
}
.metals{
    background-color: #becff5
}
.nonMetals{
    background-color: #da8e8e
}
.halide{
    background-color: #ddeea4
}
.noblegas{
    background-color: #f0bf92
}
.metalloids{
    background-color: #c3eea0
}
.alkalineMetals{
    background-color: #ece5bf
}
.alkaliMetals{
    background-color: #f5d5a3
}
.transitionMetals{
    background-color: #95e5eb
}
.lanthanideTable{
    margin-left: 30px;
    padding: 50px;
}
.lanthanides{
    background-color: #f3c3f3
}
.actinoids{
    background-color: #d9c1e9
}
.others{
    background-color: #c3c3c3;
    font-size: 10px;
    font-style: italic
    
}
.atomicNum{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 0px;
}
.atomicMass{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 0px;
}
.centerTable{
    text-align: center
}
.highlightGroupNo:hover{
    background-color: green;
}

.atomicNumKey{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    text-align: left;
    padding: 0px;
}
.atomicNumKey:hover{
    color: darkred;
}
.atomicMassKey{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    padding: 0px;
    
}
.atomicMassKey:hover{
    color: darkred;
}
.indicator{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

#elementStyle:hover{
    background-color: yellow;
   
    
}
.elementHover{
    background-color:yellow;
}
.groupNumber{
    font-size: 16px;
    text-align: center;
    height: 50px;
    
}
.groupNumber:hover{
    background-color: greenyellow;
    border-style: solid;
    border-color: black;
    
}
.colour-square{
    width: 45px;
    height: 45px;
    border-style: solid;
    border-color: black;
}
.buttonShowColorGuide{
    text-align: center
}

.buttonHideColorGuide{
    text-align: center;
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
    background-color: #558f6d;
    color: #ecf0f1;

    height: 30px;
    width: 180px;
  
    transition: background-color .3s;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.buttonHideColorGuide:hover{
    background-color: #27ae60;
}
.buttonHideColorGuide::before{
    content: "";
  
    position: absolute;
    top: 50%;
    left: 50%;
  
    display: block;
    width: 0;
    padding-top: 0;
    
    border-radius: 100%;
  
    background-color: rgba(236, 240, 241, .3);
  
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.buttonHideColorGuide:active::before{
    width: 120%;
    padding-top: 120%;
  
    transition: width .2s ease-out, padding-top .2s ease-out;
}
.alkaliMetalKey{
    background-color: #f5d5a3;    
}
.alkalineMetalKey{
    background-color: #ece5bf;
}
.halideKey{
    background-color: #ddeea4;
}
.nobleKey{
    background-color: #f0bf92;
}
.metalKey{
    background-color: #becff5;
}
.metalloidsKey{
    background-color: #c3eea0;
}
.nonMetalsKey{
    background-color: #da8e8e;
}
.transitionMetalsKey{
    background-color: #95e5eb;
}
.actinoidsKey{
    background-color: #d9c1e9;
}
.lanthanidesKey{
    background-color: #f3c3f3;
}
.othersKey{
    background-color: #c3c3c3;
}
.ColorKey{
    width: 40px;
    height: 40px;
    text-align: center;
    border-style: solid;
    border-color: black;
}
.keyThing{
    margin-left: 40px;
    padding: 40px;
     
}
.KeyDescription{
    float:right; 
}
.Hydrogen:hover{
    width: 500px;
}
.DescriptionColors{
    margin-left: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 1px;
}


.myFooter{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 90px;
    text-align: center
    
}

#elementDetails{
    width: 500px;
    height: 550px;
    background-color: lightcyan;
    border: solid;
    border-color: black;
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    
}

.nobleGasDetails{


}

.nonMetalDetails{
    background-color: lightcoral
}

.elementHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    
}

.dAtomicMass{
    margin-top: 5px;
}

.dAtomicNumber{
    
}

#elementImage{
    width: 300px;
    height: 300px;
    text-align: center;
    display: block;
    margin: auto;
}

.tableClass{
    position: relative;
}

.hydrogenDetails{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;


}

.hydrogenElement{
    z-index: 0;
}

.hydrogenDetails{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;


}

.heliumDetails{
    
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    
    
}